<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Post</title>
</head>

<body class='posting'>
    <nav class="navbar">
        <div class="nav-logo-container">
            <a href="/"><img class="nav-logo" src="/img/Logo.svg" alt="Craigslist Logo"></a>
        </div>
        <div></div>
        <div class="nav-user-container">
            <% if (user) { %>
                <a href="/user/profile" class="nav-user"><%= user.nickname %><img src="/img/user.svg" alt="" class="nav-user-icon"></a>
            <% } else {%>
                <form action="/login" method="GET">
                    <input class="loginBtn" type="submit" value="Login">
                </form>
            <% }%>
        </div>
        <div class="menu-icon-container">
            <img src="/img/menu.svg" alt="Mobile Menu" class="menu-icon">
        </div>
        <div class="nav-menu-container">
            <ul class="nav-menu">
                <li><a class="nav-menu-item" href="/">Home</a></li>
                <li><a class="nav-menu-item" href="#">Explore</a></li>
                <% if (user) { %>
                    <li><a class="nav-menu-item" href="/user/profile">Profile</a></li>
                    <li><a class="nav-menu-item" href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a class="nav-menu-item" href="/login">Login</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <% if (user.sub == postData.user_id) {%>
        <div class="user-banner">
            <p>Post admin controls</p>
            <div class="banner-buttons">
                <form action="/posts/<%= postData.post_id %>/edit" class="banner-button-form">
                    <input type="submit" value="Edit" class="edit-post">
                </form>
                <form action="/posts/<%= postData.post_id %>/delete" class=banner-button-form>
                    <input type="submit" value="Delete" class="delete-post">
                </form>
            </div>
        </div>
    <% } %>
    <main class="container-center">
    <div class="post-container">
        <a href="/category/<%= postData.category %>" class="post-category"><p><%= postData.category %></p></a>
        <h2 class="post-title"><%= postData.title %> - $<%= postData.price %> (<%= postData.city %>)</h2>
        <div class="post-image"></div>
        <!-- converts \n to html compatible line breaks -->
        <% let description = postData.description.split("\r\n").join("<br />"); %>
        <p class="post-description"><%- description %></p>
        <div class="post-contact-container">
            <button type="button" class="contact-seller-btn">Contact Seller</button>
            <div class="post-contact">
                <a class="post-email" href="mailto:<%= postData.email %>"><%= postData.email %></a>
                <% if (postData.phone) { %>
                    <p class="post-phone"><%= postData.phone %></p>
                <% } %> 
            </div>
        </div>
    </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/contactBtn.js"></script>
    <script src="/js/geoLocation.js"></script>
</body>
</html>