<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <title>Post</title>
</head>

<body class='posting'>
    <nav class="navbar">
        <div class="nav-logo-container">
            <a href="/"><img class="nav-logo" src="/img/Logo.svg" alt="Craigslist Logo"></a>
        </div>
        <div></div>
        <div class="nav-user-container">
            <% if (user) { %>
                <a href="/user/profile" class="nav-user"><%= user.nickname %><img src="/img/user.svg" alt="" class="nav-user-icon"></a>
            <% } else {%>
                <form action="/login" method="GET">
                    <input class="loginBtn" type="submit" value="Login">
                </form>
            <% }%>
        </div>
        <div class="menu-icon-container">
            <img src="/img/menu.svg" alt="Mobile Menu" class="menu-icon">
        </div>
        <div class="nav-menu-container">
            <ul class="nav-menu">
                <li><a class="nav-menu-item" href="/">Home</a></li>
                <li><a class="nav-menu-item" href="/categories">Explore</a></li>
                <% if (user) { %>
                    <li><a class="nav-menu-item" href="/user/profile">Profile</a></li>
                    <li><a class="nav-menu-item" href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a class="nav-menu-item" href="/login">Login</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <% if (user.sub == postData.user_id) {%>
        <div class="user-banner">
            <p>Post admin controls</p>
            <div class="banner-buttons">
                <form action="/posts/<%= postData.post_id %>/edit" class="banner-button-form">
                    <input type="submit" value="Edit" class="edit-post">
                </form>
                <form action="/posts/<%= postData.post_id %>/delete" class="banner-button-form">
                    <input type="submit" value="Delete" class="delete-post">
                </form>
            </div>
        </div>
    <% } %>
    <% let currentDate = new Date(); %>
    <% let minutesElapsed = parseInt(((currentDate - postData.date)/1000)/60) %>
    <% let hoursElapsed = parseInt(minutesElapsed/60) %>
    <% let daysElapsed = parseInt(hoursElapsed/24) %>
    <% let elapsed; %>

    <% if (daysElapsed < 1) { %>
        <% if (hoursElapsed < 1) { %>
            <% if (minutesElapsed < 1) { %>
                <% elapsed = 'less than a minute' %>
            <% } else if (minutesElapsed == 1 ) {%>
                <% elapsed = `${minutesElapsed} minute` %>
            <% } else { elapsed = `${minutesElapsed} minutes` }%> 
        <% } else if (hoursElapsed == 1 ) {%>
            <% elapsed = `${hoursElapsed} hour` %>
        <% } else { elapsed = `${hoursElapsed} hours` }%> 
    <% } else if (daysElapsed == 1) { %>
        <% elapsed = `${daysElapsed} day` %>
    <% } else { elapsed = `${daysElapsed} days`} %>

    <main class="container-center">
    <div class="post-container"></div>
        <a href="/categories/<%= postData.category %>" class="post-category"><p><%= postData.category %></p></a>
        <h2 class="post-title"><%= postData.title %> - $<%= postData.price %> (<%= postData.city %>)</h2>
        <div class="post-date">Posted <%= elapsed %> ago</div>
        <% if (images) { %>
          <% if (images.length > 1) { %>
            <div class="post-image-container">
              <% images.forEach(image => { %>
                <div class="image-container">
                  <img src="data:image/png;base64,<%= image %>" alt="image for <%= postData.title %>" class="post-image">
                </div>
                <% }); %>
                <a class="preBtn" onClick="plusSlides(-1)"><img src="/img/arrow-left.svg" alt="left-arrow"></a>
                <a class="nxtBtn" onClick="plusSlides(1)"><img src="/img/arrow-right.svg" alt="right-arrow"></a>
              </div>
            <% } else { %>
              <div class="post-image-container">
                <div class="image-container">
                  <img src="data:image/png;base64,<%= images[0] %>" alt="image for <%= postData.title %>" class="post-image">
                </div>
              </div>
            <% } %>
          <% } else { %>
              <p>No image</p>
          <% } %>
        <!--  converts \n to html compatible line breaks  -->
        <% let description = postData.description.split("\r\n").join("<br />"); %>
        <p class="post-description"><%- description %></p>
        <div id="map" data-lat="<%= postData.latitude %>" data-lon="<%= postData.longitude %>"></div>
        <div class="post-contact-container">
            <button type="button" class="contact-seller-btn">Reply</button>
            <div class="post-contact">
                <a class="post-email" href="mailto:<%= postData.email %>"><%= postData.email %></a>
                <% if (postData.phone) { %>
                    <p class="post-phone"><%= postData.phone %></p>
                <% } %> 
            </div>
        </div>
    </div>
    </main>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/contactBtn.js"></script>
    <script src="/js/imageSlide.js"></script>
    <script type='module' src="/js/geoLocation.js"></script>
    <script type='module' src="/js/map.js"></script>
</body>
</html>