<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Profile</title>
</head>

<body class='profile'>
  <nav class="navbar">
    <div class="nav-logo-container">
      <a href="/"><img class="nav-logo" src="/img/Logo.svg" alt="Craigslist Logo"></a>
    </div>
    <div></div>
    <div class="nav-user-container">
      <% if (user) { %>
        <a href="/user/profile" class="nav-user">
          <%= user.nickname %><img src="/img/user.svg" alt="" class="nav-user-icon">
        </a>
        <% } else {%>
          <form action="/login" method="GET">
            <input class="loginBtn" type="submit" value="Login">
          </form>
          <% }%>
    </div>
    <div class="menu-icon-container">
      <img src="/img/menu.svg" alt="Mobile Menu" class="menu-icon">
    </div>
    <div class="nav-menu-container">
      <ul class="nav-menu">
        <li><a class="nav-menu-item" href="/">Home</a></li>
        <li><a class="nav-menu-item" href="/categories">Explore</a></li>
        <% if (user) { %>
          <li><a class="nav-menu-item" href="/user/profile">Profile</a></li>
          <li><a class="nav-menu-item" href="/contact">Contact Us</a></li>
          <li><a class="nav-menu-item" id="logout" href="/logout">Logout</a></li>
      <% } else { %>
          <li><a class="nav-menu-item" href="/contact">Contact Us</a></li>
          <li id="login"><a class="nav-menu-item" href="/login">Login</a></li>
      <% } %>
      </ul>
    </div>
  </nav>
  <div class="back-btn-container">
    <button class="back-btn">Back</button>
  </div>
  <main class="container-center">
    <h1>Profile</h1>
    <div class='profile-form-container'>
      <div class='profile-button-container'>
        <button type="button" class="button-profile" id='button-settings'>Settings</button>
        <button type="button" class="button-profile" id='button-postings'>Postings</button>
      </div>
      <form action="/" method="POST" style="width: 100%" id="post-form">
        <% if(user) { %>
          <input type="hidden" name="user_id" value="<%= user.sub %>">
          <% } %>
            <div class="profile-form" id="profile-settings">
              <div class="step-container">
                <h4 class="step-header">Welcome, User!</h4>
              </div>
              <div class='settings-input-container'>
                <p>Username: </p>
                <p><%= user.nickname %></p>
              </div>
              <div class='settings-input-container'>
                <p>Email: </p>
                <p><%= user.name %></p>
              </div>
              <div class='settings-input-container'>
                <p>New Password: </p>
                <input type="text" name='newPass' class='new-password'>
              </div>
              <div class='settings-input-container'>
                <p>Confirm New Password: </p>
                <input type="text" name='confirmPass' class='new-password'>
              </div>

                <button type="button" class="button-apply">Apply Changes</button>

            </div>
            <div class="profile-form" id="profile-posting">
              <div class="step-container">
                <h4 class="step-header">Current Postings</h4>
              </div>
              <div class='posts'>
                <% posts.forEach(post => { %>
                  <div class='post'>
                    <div class="post-image"></div>
                    <div class='post-detail'>
                      <p class='post-price'>$<%= post.price %></p>
                      <p class='post-title'><%= post.title %></p>
                      <p class='post-city'><%= post.city %></p>
                    </div>
                  </div>
                <% }); %>
              </div>
            </div>
      </form>
    </div>
  </main>

  <!-- <div class='container'>
    <div class='container-profile'>
      <p class='profile-title'>Welcome, <%= user.nickname %>
      </p>
      <div class='container-profile-detail'>
        <p class='userName'>Username: <%= user.nickname %>
        </p>
        <p class='email'>Email: <%= user.name %>
        </p>
        <p><a href="/user/posting">My Posting</a></p>
      </div>
    </div>
  </div> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/back.js"></script>
  <script src="/js/menu.js"></script>
  <script src="/js/cycleSteps.js"></script>

</body>

</html>